.fatCursorWrapper {
	--f-cursor-x1: "0px";
	--f-cursor-x2: "0px";
	--f-cursor-y1src: "0px";
	--f-cursor-y2src: "0px";
	--f-cursor-offset-y: "0px";
	--f-cursor-height: 18px;
	--f-cursor-y1: calc(var(--f-cursor-y1src) + var(--f-cursor-offset-y));
	--f-cursor-y2: calc(var(--f-cursor-y2src) + var(--f-cursor-offset-y));
	--f-cursor-visibility: "visible";
}

.f-cursor {
    border-left: 2px solid var(--color-accent);
    border-top: 10px dotted var(--color-accent);
    border-bottom: 1px dotted var(--color-accent);
	position: relative;
	top: 0;
	left: 0;
	height: var(--f-cursor-height);
	width: 8px;
	display: inline-block;
	user-select: none;
	background: var(--color-accent);
    /* transform: translate3d(var(--f-cursor-x2), calc(var(--f-cursor-y2) - var(--header-height)), 0); */
    top: calc(var(--f-cursor-y2) - var(--header-height));
    left: var(--f-cursor-x2);
    /* transform: translate(var(--f-cursor-x2), calc(var(--f-cursor-y2) - var(--header-height))); */
	opacity: 0.2;
	pointer-events: none;
	visibility: var(--f-cursor-visibility);
	/* will-change: transform, opacity, height, width, transform-origin, background-color; */
}


.fatCursorWrapper {
	display: block;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	background-color: transparent;
	position: fixed;
	top: var(--header-height);
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	-webkit-app-region: initi al !important;
}
